@import url('https://fonts.googleapis.com/css?family=Roboto: 100, 200, 300, 400, 500, 600, 700|Oswald: 100, 200, 300, 40, 500, 600, 700');



.navbar {
    width: 100%;
    height: auto;
    background-color: #f9f3e7;
    padding: 0;
    margin: 0;
    border-bottom: groove;
    border-bottom-color: #A3A2A2;
    border-bottom-width: thin;
}

.nav-item {
    padding-left: 25px;
}


.nav-heading {
    font-family: 'Permanent Marker', cursive;
    font-size: large;
    font-weight: 400;
    text-align: center;
}


/*-------------------------------------------landing image-------------*/

.landing {
    padding: 0;
    margin: 0;
    border-bottom: groove;
    border-bottom-color: #f9f3e7;
    border-bottom-width: thick;
}



/*---------------------------------------------listen----------------*/

.listen {
    background-attachment: fixed;
    background-image: url(./minkee-vinyl-listen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background-color: #E3DDD2;
    border-bottom: groove;
    border-bottom-color: #f9f3e7;
    border-bottom-width: thick;
}


.listen-heading,
.listen-subheading {
    font-family: 'Permanent Marker', cursive;
    color: #f9f3e7;
    padding-top: 25px;
    padding-bottom: 25px;
}

.card-title-listen {
    font-size: medium;
    font-weight: 400;
    color: #f9f3e7;
}

.opaque-overlay-listen {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
    padding-top: 25;
}



/*------------------------------------Tour dates---------*/

.tour-dates {
    background-attachment: fixed;
    background-image: url(./images/nainoa-shizuru-80385-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 0px;
    border-bottom: groove;
    border-bottom-color: #f9f3e7;
    border-bottom-width: thick;
}

.heading-td {
    font-family: 'Permanent Marker', cursive;
    color: #f8f8f8;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-right: 15px;
}

.sub-heading-td,
.date-place,
.list-item-td {
    font-family: 'Permanent Marker', cursive;
    color: #E8E8E8;
    text-transform: uppercase;
    text-shadow: #E8E8E8;
    padding-bottom: 25px;
}

.opaque-overlay-td {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 25px;
}

.button-td {
    margin-bottom: 20px;
}


/*----------------------------------Contact------------*/

.bg-color-contact {
    background-color: #F9F3E7;
    border-bottom: groove;
    border-bottom-color: #f9f3e7;
    border-bottom-width: thin;
}

.heading-contact {
    font-family: 'Permanent Marker', cursive;
    color: #292826;
    padding-bottom: 10px;
    padding-top: 15px
}

.sub-heading-ct {
    padding-bottom: 15px;
    padding-top: 15px;
}

.form-control {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.button-ct {
    margin-left: 15px;
    margin-top: 20px;
}

@media (min-width: 767.98px) {
    .form-group {
        padding-left: 400px;
    }
}

/*---------------------------footer---------*/

footer {
    background-color: #4B4A45;
    color: #191717;
    min-height: 100px;
    margin: 0;
}


.footer-text {
    font-family: 'Permanent Marker', cursive;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #F9D342;
    text-align: right;
}

.social {
    padding-top: 25px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 23px;
    line-height: 9px;
    text-align: center;
    color: #292826;
    background-color: #F9D342;
}


/*----------------------------------------discography-----------*/

.bg-color-card-deck {
    background-color: #e8e8e8;
}

.dg-con {
    padding-bottom: 20px;
}

.heading-dg {
    font-family: 'Permanent Marker', cursive;
    padding-top: 25px;
    padding-bottom: 25px;
}


.card {
    background-color: #f8f8f8;
    padding-left: 0px;
    padding-right: 0px;
}

.card-body {
    padding: 10px;
}

.image-size {
    width: 255px;
    height: 250px;
}

.card-title {
    font-size: medium;
    font-weight: 400;

}


/*-------------------------------about------------------*/

.about-heading,
.bandmember,
.bm-name {
    font-family: 'Permanent Marker', cursive;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
}


.color-border-1 {
    background-color: #E8E1D5;
    border-bottom: dashed;
    border-bottom-style: groove;
    border-bottom-color: #060605;
    border-width: thin;
}

.color-border-2 {
    background-color: #F6F4EF;
    border-bottom: dashed;
    border-bottom-style: groove;
    border-bottom-color: #060605;
    border-width: thin;
}

@media (max-width: 767.98px) {
    .bandmember {
        display: block;
    }
}
